<main
  class="flex flex-col h-screen bg-black text-white items-center justify-center"
>
  <section
    #post
    class="border border-white p-5 rounded-xl flex flex-col bg-gradient-to-r from-[#000000] to-[#2C272E]"
  >
    <header class="flex">
      <img
        alt="User"
        class="w-14 h-14 rounded-full"
        src="https://media.licdn.com/dms/image/D4D03AQGsaa_ZkoiR0w/profile-displayphoto-shrink_400_400/0/1681374930074?e=1720656000&v=beta&t=vuxzGxI3H6_5MP2UCtzGElVzev1fMUzWXKqVN8ozgi0"
      />

      <div class="flex flex-col ml-5">
        <h1 class="text-xl font-bold">Visrut Navadiya</h1>
        <p>Software Engineer</p>
        <p>linkedin.com/in/visrut-navadiya384920</p>
      </div>
    </header>

    <main class="flex justify-center items-center grow">
      <p class="mt-5 text-[26px] text-center">
        Micromanagement is the number one killer of creativity and innovation at
        the workplace.
      </p>
    </main>
    <pre><code [highlightAuto]="code"></code></pre>
  </section>

  <button (click)="saveImage()" class="btn mt-5">Download Post</button>
</main>
